# Виртуальное окружение
venv/
.venv/
env/

# Секреты и переменные окружения (критично!)
.env

# Байткод Python
__pycache__/
*.py[cod]
*$py.class

# Результаты работы парсера
*.xlsx
*.csv
downloads/

# Логи и временные файлы IDE
*.log
.vscode/
.idea/
